@import "styles/variables";

.container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;

  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 26px;
      font-weight: bold;
    }
  }

  .buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .controls {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .input {
      height: 40px;

      input {
        padding: 4px 8px;
      }
    }
  }

  .chartOuter {
    position: relative;

    .tooltip {
      position: absolute;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 12px;
      z-index: 100;
      border-radius: 5px;
      box-shadow: $shadow-2;
      background-color: $white-1;
      opacity: 0;
      transition: opacity 500ms;
      transform: translate(-50%, 20px);

      .item {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;

        label {
          font-size: 12px;
          color: $gray;
          font-weight: 500;
        }

        span {
          font-size: 12px;
          font-weight: 600;
          color: $black;
          white-space: nowrap;
        }
      }
    }
  }

  .chart {
    width: 1200px;
    overflow-x: auto;

    .chartInner {
      height: 700px;
      width: 2000px;
    }

    canvas {
      min-height: 250px;
    }
  }

  @media (max-width: $breakpoint-md) {
    padding: 20px;
    gap: 20px;

    .header {
      .title {
        font-size: 20px;
      }
    }
  }
}
